.marginTop {
	margin-top: 60px;
}
/* HomePage */
.homepage-main .hero-section {
	margin-top: 50px;
}
.homepage-main .hero-section form {
	margin-top: 35px;
}
.homepage-main .content-section {
	margin-top: 35px;
}
.homepage-main .content-section .quiz-cards {
	margin-top: 20px;
}

.homepage-side {
	position: relative;
	margin-top: 35px;
}
.homepage-side .fixed-area {
	position: fixed;
	right: calc(var(--bs-gutter-x) * 1);
	width: 30%;
}

/* QuizCard */
.quizCard {
	position: relative;
	display: flex;
	gap: 20px;
	padding: 15px;
	margin-bottom: 15px;
	color: var(--dark);
	background: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 15px;
}
.quizCard .details {
	width: calc(100% - 220px);
	order: 1;
}
.quizCard .details p {
	height: 100px;
	margin: 16px 0;
	overflow: hidden;
	text-overflow: ellipsis;
}
.quizCard .details .interaction {
	display: flex;
	justify-content: space-between;
}
.quizCard .details .interaction span {
	line-height: 39px;
}
.quizCard .image {
	order: 2;
	max-height: 220px;
	background: #e9e9e9;
	border-radius: 5px;
	overflow: hidden;
}
.quizCard .image img {
	width: 100%;
}
/* Media Queries */
@media (max-width: 768px) {
	.quizCard {
		flex-direction: column;
	}
	.quizCard .details {
		order: 2;
		width: 100%;
	}
	.quizCard .image {
		order: 1;
		width: 100%;
	}
}
@media (max-width: 992px) {
	.homepage-side .fixed-area {
		position: relative;
		right: 0;
		width: 100%;
	}
}
