.marginTop {
	margin-top: 60px;
}
/* Navigation */
.nav-button {
	color: #556272;
	padding: 5px 15px;
	background: #f3f3f3;
}
.nav-button:hover {
	color: #f3f3f3;
	background: var(--dark);
}
/* HomePage */
.homepage-main .hero-section {
	margin-top: 50px;
}
.homepage-main .hero-section form {
	display: flex;
	gap: 10px;
	margin-top: 35px;
}
.homepage-main .hero-section form a {
	min-width: none;
}
.homepage-main .content-section {
	margin-top: 35px;
}
.homepage-main .content-section .quiz-cards {
	margin-top: 20px;
}

.homepage-side {
	position: relative;
	margin-top: 35px;
}
.homepage-side .fixed-area {
	position: fixed;
	right: calc(var(--bs-gutter-x) * 1);
	width: 30%;
}

/* QuizCard */
.quizCard {
	position: relative;
	display: flex;
	gap: 20px;
	padding: 15px;
	margin-bottom: 15px;
	color: var(--dark);
	background: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 15px;
}
.quizCard .details {
	width: calc(100% - 220px);
	order: 1;
}
.quizCard .details p {
	max-height: 100px;
	margin: 16px 0;
	overflow: hidden;
	text-overflow: ellipsis;
}
.quizCard .details .interaction {
	display: flex;
	justify-content: space-between;
}
.quizCard .details .interaction span {
	font-weight: 500;
	font-size: 18px;
	line-height: 45px;
	background: whitesmoke;
	padding: 0px 20px;
	border-radius: 5px;
}
.quizCard .image {
	order: 2;
	max-width: 200px;
	max-height: 200px;
	background: #e9e9e9;
	border-radius: 5px;
	overflow: hidden;
}
.quizCard .image img {
	height: 100%;
}

/* QuizCard */
.faqs {
	margin-top: 15px;
}
.faqs .faqCard {
	background: #f3f3f3;
	border: 1px solid #a0a0a0;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 15px;
}
.faqs .faqCard .control {
	position: relative;
	cursor: pointer;
	user-select: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.faqs .faqCard .control svg {
	font-size: large;
	margin-right: 10px;
}
.faqs .faqCard h6,
.faqs .faqCard p {
	padding: 10px 15px;
	margin-bottom: 0;
}
.faqs .faqCard p {
	display: none;
}
.faqs .faqCard p.active {
	display: block;
	background: #ffffff;
	border-top: 1px solid #a0a0a0;
}

/* Login/Register */
.centerAlign {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.centerAlign .joinForm {
	width: 40%;
	border: 1px solid lightgrey;
	padding: 20px;
	border-radius: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
	.quizCard {
		flex-direction: column;
	}
	.quizCard .details {
		order: 2;
		width: 100%;
	}
	.quizCard .image {
		order: 1;
		width: 100%;
	}
}
@media (max-width: 992px) {
	.homepage-side .fixed-area {
		position: relative;
		right: 0;
		width: 100%;
	}
}
